*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Georgia, 'Times New Roman', Times, serif
}

body{
    width: 100%;
    height: 100vh;
    background: url() center / no-repeat /cover ;
}
header{
    Position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    padding: 0 10px;
}
/*NAVIGATION BAR*/
.navbar{
    display: flex;
    padding: 22 0px;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
}
.navbar{
    display: flex;
    gap: 10px;
    text-decoration: none;
    align-items: center;
}
.navbar .logo img {
    width: 40px;
    border-radius: 50%;
}
.navbar .logo h2{
    color: #fff;
    font-size: 1.7rem;
    font-weight: 600;
}

.navbar .links {
    display: flex;
    list-style: none;
    gap: 35px;
}
.navbar .links a{ 
    color:#fff;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
}
.navbar .links a:hover {
    color:antiquewhite;
}
.navbar .login-btn {
    border: none;
    outline: none;
}